@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light-color: #F3F3F4;
    --main-color: #7435B3;
    --accent-color: #F7B801;
    --dark-color: rgb(24, 22, 34);
    --error-color: rgb(182, 45, 43);

}

.add-page {
    display: grid;
    place-items: center;
    margin-top: 100px;
}

.text-fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name, .phone {
    background-color: rgba(0, 0, 0, 0.3);
    height: 40px;
    font-size: 16px;
    font-weight: 500;

    color: var(--light-color);
    padding-left: 20px;

    outline: none;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0.8rem;
}

.name:focus-visible, .phone:focus-visible {
    border: 2.5px solid var(--main-color);
    
}

.submit {
    background-color: rgba(0, 0, 0, 0.3);
    height: 40px;
    font-size: 16px;
    font-weight: 500;

    color: var(--light-color);

    outline: none;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0.8rem;

    cursor: pointer;

    transition: 0.2s ease-in-out;
}

.submit:hover {
    background-color: var(--main-color);
}

/* Media Queries para Dispositivos Móviles y Tablets */
@media (max-width: 768px) {
    .add-page {
        margin-top: 50px; /* Reducir margen en pantallas más pequeñas */
    }

    .text-fields {
        flex-direction: column; /* Apilar campos en pantallas pequeñas */
        gap: 10px; /* Reducir el espacio entre campos */
    }

    .name, .phone {
        width: 100%; /* Hacer los campos ocupar el ancho completo */
        font-size: 14px; /* Reducir el tamaño del texto en campos */
        padding-left: 15px; /* Reducir el padding */
    }

    .submit {
        width: 100%; /* Hacer el botón ocupar el ancho completo */
        font-size: 14px; /* Reducir el tamaño del texto en el botón */
    }
}

@media (max-width: 480px) {
    .add-page {
        margin-top: 30px; /* Reducir margen en pantallas muy pequeñas */
    }

    .text-fields {
        gap: 10px; /* Ajustar el espacio entre campos */
    }

    .name, .phone {
        font-size: 12px; /* Reducir aún más el tamaño del texto */
        height: 35px; /* Ajustar la altura de los campos */
        padding-left: 10px; /* Ajustar el padding */
    }

    .submit {
        font-size: 12px; /* Reducir el tamaño de la fuente del botón */
        height: 35px; /* Ajustar la altura del botón */
    }
}