@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light-color: #F3F3F4;
    --main-color: #7435B3;
    --dark-color: #181622;
    --error-color: #B62D2B;

}

* {
    font-family: 'Inter';
}

img {
    position: fixed;
    object-fit: cover;

    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    background-color: #000;
}

.homepage {
    display: grid;
    place-items: center;

    padding: 80px;
}

h2 {
    font-size: 3rem;
    color: var(--light-color);

    margin-bottom: 20px;

}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: start;
    width: 400px;

    gap: 40px;
}

.contacts-area {
    display: flex;
    flex-direction: column;
    justify-content: start;

    height: 280px;
    gap: 15px;

    overflow-y: auto;
}

.contacts-area::-webkit-scrollbar {
    width: 8px;
}

.contacts-area::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.contacts-area::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);

}

.contacts-area::-webkit-scrollbar-thumb:hover {
    background-color: rgba(251, 213, 0, 0.3);
}

.filter {
    background-color: rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 56px;
    font-size: 16px;
    font-weight: 500;

    padding-left: 20px;
    color: var(--light-color);

    outline: none;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0.8rem;
}

.filter:focus-visible {
    border: 2.5px solid var(--main-color);
}

.alert {
    color: var(--accent-color);
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    width: 500px;
    line-height: 30px;

    padding-top: 20px;
}

.hint {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
    font-size: 20px;
    
    position: fixed;
    bottom: 20px;
}

/* ------------------------------- Media Queries -------------------------------------------------------- */
/* Media Queries para Dispositivos Móviles y Tablets */
@media (max-width: 768px) {
    .homepage {
        padding: 30px;
    }

    h2 {
        font-size: 2rem; /* Reducir tamaño del texto en pantallas más pequeñas */
        padding: 20px; /* Reducir padding */
    }

    .contact-list {
        width: 300px; /* Hacer la tarjeta más ancha en pantallas pequeñas */
    }

    .contacts-area {
        width: 350px;
    }

    .filter {
        width: 300px;
        height: 40px;
        font-size: 14px; /* Reducir el tamaño del texto en el filtro */
        padding-left: 15px; /* Reducir el padding */
    }

    .alert {
        font-size: 1.2rem; /* Reducir el tamaño de la fuente de la alerta */
        width: 90%; /* Ajustar al contenedor */
    }

    .hint {
        font-size: 18px; /* Reducir tamaño de fuente para pantallas pequeñas */
        bottom: 30px; /* Ajustar la posición en pantallas más pequeñas */
    }

    .contacts-area::-webkit-scrollbar {
        width: 6px;
    }
}

@media (max-width: 480px) {
    .homepage {
        padding: 20px; /* Reducir margen en pantallas muy pequeñas */
    }

    h2 {
        font-size: 2rem; /* Reducir aún más el tamaño del texto */
        padding: 10px; /* Ajustar padding */
    }

    .card {
        width: 250px; /* Hacer la tarjeta ocupar todo el ancho disponible */
    }

    .filter {
        width: 250px;
        font-size: 12px; /* Reducir tamaño de fuente en pantallas muy pequeñas */
        padding-left: 10px; /* Ajustar padding */
    }

    .alert {
        font-size: 1rem; /* Reducir el tamaño de la fuente */
    }

    .hint {
        font-size: 16px; /* Reducir tamaño de fuente */
        bottom: 20px; /* Ajustar la posición en pantallas muy pequeñas */
    }

    .contacts-area::-webkit-scrollbar {
        width: 5px;
    }
}