* {
    font-family: 'Inter';
}

.contacts-list {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 15px;

    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 

    width: 350px;
    height: 30px;
}


.contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.contact-name {
    color: var(--light-color);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.contact-phone {
    color: var(--accent-color);
    text-align: left;
    font-weight: 350;
    font-style: italic;
    font-size: 13px;
}

.delete-contact-btn {
    height: 45px;
    width: 45px;

    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;

    cursor: pointer;

    color: var(--error-color);
}

.delete-contact-btn:hover {
    background-color: rgba(75, 9, 8, 0.7);
}

.contacts-list:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: text;

}

/*----------------------------- Media Queries ----------------------------- */
@media (max-width: 758px) {
    .contacts-list {
        width: 300px;
    }

    .contact-name {
        font-size: 14px;
    }

    .contact-phone {
        font-size: 12px;
    }

    .delete-contact-btn {
        height: 35px;
        width: 35px;
    }
}

@media (max-width: 468px) {
    .contact-list {
        width: 250px;
    }

    .contact-name {
        font-size: 13px;
    }
    
    .contact-phone {
        font-size: 11px;
    }

    .delete-contact-btn {
        width: 30px;
        height: 30px;
    }
}