@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light-color: #f4effa;
    --main-color: #532b88;
    --accent-color: #fdc500;

}

* {
    font-family: 'Inter';
}

img {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.homepage {
    display: grid;
    place-items: center;
    margin-top: 100px;
}

h2 {
    font-size: 3rem;
    color: var(--accent-color);
    padding: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: start;
    width: 400px;
    gap: 20px;
}

input {
    background-color: rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 56px;
    font-size: 16px;
    font-weight: 500;

    padding-left: 20px;
    color: var(--light-color);

    outline: none;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0.8rem;
}

input::placeholder {
    color: var(--light-color);
    opacity: 60%;
    font-family: 'Inter';
    font-weight: 200;
}

input:focus-visible {
    border: 2.5px solid var(--accent-color);
}
